@model ViewComponentSys.Domain.User

    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                @Model.Email
            <p>
              
        </div>
        <div class="card-footer text-muted">
          @Model.Phone 
        </div>
    </div>

